<div class="row span8" style="margin-left:0px;">
<p>This is an admin function, please don't abuse it</p>
<h1>Editing player</h1>

<%= render 'form' %>

<%= link_to 'Show', @player %> |
<%= link_to 'Back', players_path %>
</div>
