// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "twitter/bootstrap";

.purp-sep {
  background: #8e64a3;
  height: 1px;
  border-bottom: 1px solid #bbafd6;
  margin-bottom: 20px;
}

.blue-sep {
  background: #57b0e3;
  height: 1px;
  border-bottom: 1px solid #b6e4fb;
  margin-bottom: 20px;
}
